<h1>this is the highscores</h1>
<% @allhighscores.each do |scorelist| %>
<div class="scorelist">
<%if scorelist.user.present? %>
<%= scorelist.user.username%>
<%= scorelist.score %>
</div>
<% end %>
<% end %>
