// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  text-align: center;
  background-color: black;
  color: salmon;
}

a {
  color: salmon;
}

nav {
  padding: 20px;
}

.scorelist {
  color: #95EA3E;
  line-height: 20px;
}

.container {
  width: 960px;
  margin: 0 auto;
}


canvas {
  border: 1px solid salmon;
}

#aunid {
  padding-left: 18%;
}
